#red {
    color: red;
    font-weight: normal;
}

.red-square {
    height: 200px;
    width: 200px;
    border: 2px solid red;
    background-color: red;
}


#blue {
    color: blue;
    font-weight: normal;
}

.blue-square {
     height: 200px;
    width: 200px;
    border: 2px solid blue;
    background-color: blue;

}

#orange {
    color : orange;
    font-weight: normal;
}

.orange-square {
     height: 200px;
    width: 200px;
    border: 2px solid orange;
    background-color: orange;
}
#green {
    color: green;
    font-weight: normal;
}

.green-square {
     height: 200px;
    width: 200px;
    border: 2px solid green;
    background-color: green;
}

body {
    background-color: bisque;
    font-weight: normal;
}